/* 
#04153c
#49abe9
*/

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  overflow-x: hidden;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;

}

.popup-content {
    background-color: #000;
    padding: 30px;
    padding-left: 10px;
    border-radius: 5px;
    width: 400px;
    height: 500px;
    overflow: auto;
    position: relative;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 50px;
    cursor: pointer;
}

.popup form label {
    display: block;
    margin: 10px 0 5px;
    color: #49abe9;
}

.popup form input, .popup form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
}

.popup form textarea {
    resize: none;
}

.popup form button {
    padding: 10px 20px;
    font-size: 16px;
    border: solid 2px #49abe9;
    color: #fff;
}

.popup form button:hover {
    background: #fff;
}

.nav-side {
    height: 100%;
    width: 80%;
    background: #04153c;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 200;
    transition: all .5s;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    display: block;
}

.nav-show {
    transform: translateX(0);

}

.nav-side  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-side .items p {
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: -55px;
    right: 10px;
    
}

.nav-side .items ul {
    padding: 0;
    text-align: center;
}

.nav-side .items ul li{
    margin-bottom: 2rem;
    list-style: none;
}

.nav-side .items ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}

.nav-side .items ul li a:hover {
    color: #9c9c9c;
}

.btn,
.pa-btn button {
  background: #0f0f0f;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
}

.btn:hover {
  background: transparent;
  color: #04153c;
}

.top {
  background: #04153c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.5em;
}

.top .right .btn:hover {
  border: solid 2px #fff;
}

.top .right .btn a {
  text-decoration: none;
  color: #fff;
}

.top .right .btn:hover a {
  color: #fff;
}

header {
  background-image: url(Images/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: center center;
  padding-bottom: 8em;
  /* width: 100%; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

nav .logo {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

nav .logo img {
  width: 5rem;
}

nav .logo h4 {
  text-align: center;
}

nav .logo span {
  color: #04153c;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding-left: 1em;
}

nav a:hover,
nav a:focus {
  color: #49abe9;
}

.fa-bars {
  display: none;
  font-size: 1.7rem;
  color: #fff;
}

.hero {
  text-align: center;
  padding: 6em 0;
}

.hero-subtitle {
  line-height: 2;
  opacity: 0.8;
}

.hero-btn {
  font-size: 1.2rem;
  padding: 0.6em 1em;
  margin-top: 1em;
  border: 2px solid #04153c;
}

.btn-clear {
  background: transparent;
  border: solid 1px #000;
  margin-left: 1.5em;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 5em;
  margin-top: -7em;
}

.card {
  background: #04153c;
  width: 30%;
  padding: 0.5em;
  border-bottom: 5px solid #49abe9;
  gap: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-icon .icon {
  font-size: 3.5rem;
  color: #49abe9;
}

.card-text {
  width: 100%;
}

.card-title {
  font-size: 1.5rem;
}

.about {
  margin: 0 auto;
  color: #000;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 6rem 0.5rem;
}

.about-heading {
  text-align: center;
}

.about .left {
  width: 50%;
}

.about .right {
  width: 50%;
}

.about .right .btn {
  border: #04153c solid 2px;
}

.image-holder {
  width: 50%;
}

.image-holder img {
  width: 100%;
  border-right: #49abe9 10px solid;
  border-bottom: #49abe9 10px solid;
}

.practice-area {
  background: #283c61;
  padding: 3em 8em;
}

.pa-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.pa-btn button:hover {
  background: #fff;
  color: #000;
}

.pa-btn button:hover a {
  color: #000;
}

.pa-btn a {
  text-decoration: none;
  color: #fff;
}

.practice-area-text {
  text-align: center;
}

.pa-cards {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.first-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.second-row {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

.pa-card .card-title {
  margin: 0;
}

.pa-card {
  text-align: center;
  background: #04153c;
  padding: 1em 1.5em;
  width: 30%;
  height: 300px;
  border-bottom: 5px solid #49abe9;
}

.page-2 .pa-card {
  height: 360px;
  padding: 1em 0.5rem;
}

.pa-card .card-icon i {
  margin-bottom: 1rem;
}

.pa-card h4 {
  text-align: center;
}

.pa-card .card-body {
  text-align: center;
  margin: 0.7rem;
}

.feedback {
  background: #ebebeb;
  color: #000;
  padding: 4em;
}

.feedback-text {
  text-align: center;
}

.feedback .heading {
  margin-top: -6px;
}

.feedback .small-heading {
  line-height: 1.5;
  padding: 0 5rem;
}

.fb-cards {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.fb-card {
  width: 20%;
  background: #fff;
  padding: 2rem 1rem;
  border-bottom: 5px solid #49abe9;
  text-align: center;
}

.fb-card .card-icon .icon {
  color: #49abe9;
  font-size: 1.5rem;
  scale: 1.5;
  margin-bottom: 2.5rem ;
}

.fb-card-title {
  margin-top: -15px;
}

.fb-card-text {
  text-align: left;
}

.client {
  text-align: right;
  color: #707070;
}

.team {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
    color: #000;
}

.team h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-member {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.team-member img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    
}

.team-member h3 {
    font-size: 1.5em;
    margin: 10px 0 5px;
}

.team-member p {
    font-size: 1em;
    color: #666;
}

footer {
  background-image: url(Images/background2.jpg);
  background-size: cover;
  background-position: 100% 100%;
  padding: 2rem 3rem;
}

footer .logo img {
  width: 7rem;
}

footer .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-first-row {
  display: flex;
  justify-content: space-between;
  gap: 150px;
}

.flex-second-row {
  display: flex;
  justify-content: space-between;
  gap: 150px;
}

@media (max-width: 675px) {
  .feedback {
    padding: 4em 1em;
  }
  footer {
    text-align: center;
  }

  footer .flex {
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
}

footer .logo {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

footer .logo h4 {
  text-align: center;
  font-size: 1.5rem;
}

footer .logo span {
  color: #04153c;
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-us i {
  color: #49abe9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-us a,
.follow-us a {
  text-decoration: none;
  color: #fff;
}

.location {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.phone {
  margin: 1rem 0 2rem 0;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.email {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
}

.office-hours .color {
  color: #ab7f60;
}

.follow-us i {
  color: #49abe9;
}

.insta {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.twitter {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.facebook {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.whatsapp {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.bottom {
  background: #04153c;
  padding: 0 5rem;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 675px) {
  .top {
    padding: 0.2em;
  }

  nav ul {
    display: none;
  }

  .fa-bars {
    display: block;
  }

  .btn-clear {
    margin-left: 0;
  }

  .cards {
    flex-direction: column;
    padding: 0 4em;
  }

  .card {
    flex-direction: column;
    width: 100%;
  }

  .card-text {
    text-align: center;
    width: 100%;
  }

  .about {
    flex-direction: column;
    align-items: unset;
    text-align: center;
  }

  .image-holder {
    width: 100%;
  }

  .about .left {
    width: 100%;
  }

  .about .right {
    width: 100%;
  }

  .practice-area {
    padding: 2em;
  }

  .pa-card {
    width: 100%;
  }

  .first-row {
    flex-direction: column;
  }

  .second-row {
    flex-direction: column;
  }

  /* .feedback {
        padding: 0;
    } */

  .feedback-text .small-heading {
    padding: 0 1rem;
  }

  .fb-cards {
    flex-direction: column;
    align-items: center;
  }

  .fb-card {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .first-row {
    flex-direction: column;
  }

  .second-row {
    flex-direction: column;
  }

  .fb-cards {
    flex-direction: column;
    align-items: center;
  }

  .fb-card {
    width: 100%;
  }

  /* footer .flex {
        flex-direction: column;
    } */
}

@media (max-width: 1020px) {
  .cards {
    padding: 0 2em;
  }

  .card {
    flex-direction: column;
  }

  .practice-area {
    padding: 2em;
  }

  .fb-cards {
    flex-direction: column;
    align-items: center;
  }

  .fb-card {
    width: 70%;
  }
}
